<html>
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<meta http-equiv="Access-Control-Allow-Origin" content="*" />
<link rel="icon" href="/static/favicon.ico" mce_href="/static/favicon.ico" type="image/x-icon">
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/select2.min.css" rel="stylesheet" />
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="/static/js/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/bootstrap3-typeahead.js"></script>
<script src="/static/js/select2.min.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
	    $('.js-example-basic-multiple').select2();
	});
</script>

</head>
<body>

<div class="container">
	<div class="row">
	<nav class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">Djforgo</a>
	    </div>
	
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="/index">Main <span class="sr-only">(current)</span></a></li>
	        <li><a href="#">Link</a></li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="#">Action</a></li>
	            <li><a href="#">Another action</a></li>
	            <li><a href="#">Something else here</a></li>
	            <li role="separator" class="divider"></li>
	            <li><a href="#">Separated link</a></li>
	            <li role="separator" class="divider"></li>
	            <li><a href="#">One more separated link</a></li>
	          </ul>
	        </li>
	      </ul>
	      <form class="navbar-form navbar-left">
	        <div class="form-group">
	          <input type="text" class="form-control" placeholder="Search">
	        </div>
	        <button type="submit" class="btn btn-default">Submit</button>
	      </form>
	      <ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.Name }} <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="/edit/user/{{ user.ID }}">Edit</a></li>
	            <li><a href="#">Reset password</a></li>
	            <li><a href="#">doing</a></li>
	            <li role="separator" class="divider"></li>
	            <li><a href="#">doing</a></li>
	          </ul>
	        </li>
	        <li><a href="/logout" clase="btn btn-primary navbar-btn">Logout</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	
	</div>
	
	<p style="margin-top:5%"></p>
	
	<div class="row">
		<h2 class="text-center" >Edit</h1>
	</div>
	{% if user.Is_active %}
	{% if user.Is_staff %}
	
	<div class="row">
		<form class="form-horizontal" action="/edit/user/{{ targetuser.ID }}" method="POST">
			<div class="form-group">
			  <div class="col-sm-offset-4 col-sm-4">
			    <input type="hidden" class="form-control" name="name" id="inputId" value="{{ targetuser.ID }}">
			  </div>
			</div>
			<div class="form-group">
			  <label for="inputName" class="col-sm-2 control-label">Name</label>
			  <div class="col-sm-4">
			    <input type="text" class="form-control" name="name" id="inputName" value="{{ targetuser.Name }}">
			  </div>
			</div>
			<div class="form-group">
			  <label for="inputEmail" class="col-sm-2 control-label">Email</label>
			  <div class="col-sm-4">
			    <input type="email" class="form-control" name="email" id="inputEmail" value="{{ targetuser.Email }}">
			  </div>
			</div>
			<div class="form-group">
			  <div class="col-sm-offset-2 col-sm-4">
			    <div class="checkbox">
			      	<label class="checkbox-inline">
					{% if targetuser.Is_Admin %}
					  <input type="checkbox" name="isadmin" id="inlineCheckbox1" value="{{ targetuser.Is_Admin }}" checked> is admin
					{% else %}
					  <input type="checkbox" name="isadmin" id="inlineCheckbox1" value="{{ targetuser.Is_Admin }}"> is admin
					{% endif %}
					</label>
					<label class="checkbox-inline">
					{% if targetuser.Is_staff %}
					  <input type="checkbox" name="istaff" id="inlineCheckbox2" value="{{ targetuser.Is_staff }}" checked> is staff 
					{% else %}
					  <input type="checkbox" name="istaff" id="inlineCheckbox2" value="{{ targetuser.Is_staff }}"> is staff 
					{% endif %}
					</label>
					<label class="checkbox-inline">
					{% if targetuser.Is_active %}
					  <input type="checkbox" name="isactive" id="inlineCheckbox3" value="{{ targetuser.Is_active }}" checked> is active
					{% else %}
					  <input type="checkbox" name="isactive" id="inlineCheckbox3" value="{{ targetuser.Is_active }}"> is active
					{% endif %}
					</label>
			    </div>
			  </div>
			</div>
			
			<div class="form-group">
				<label for="permitions" class="col-sm-2 control-label">Permitions {{ targetUser.Permissions.0.Name }}</label>
				<div class="col-sm-8">
					<select multiple="multiple" class="form-control js-example-basic-multiple" id="permitions" name="permitions">
					{% for perm in permissions %}
					  <option id="{{ perm.ID }}" value="{{ perm }}" selected>
						{{ perm.CodeName }}
					  </option>
					{% endfor %}
					{% for perm in permissions_without %}
					  <option id="{{ perm.ID }}" value="{{ perm }}">
						{{ perm.CodeName }}
					  </option>
					{% endfor %}
					</select>
				</div>
			</div>
			
			<div class="form-group">
				<label for="groups" class="col-sm-2 control-label">Groups</label>
				<div class="col-sm-8">
					<select multiple="multiple" class="form-control js-example-basic-multiple" id="groups" name="groups">
					{% for group in groups %}
					  <option id="{{ group.ID }}" value="{{ group }}" selected>
						{{ group.Name }}
					  </option>
					{% endfor %}
					{% for group in groups_without %}
					  <option id="{{ group.ID }}" value="{{ group }}">
						{{ group.Name }}
					  </option>
					{% endfor %}
					</select>
				</div>
			</div>
			
			<div class="form-group">
			  <div class="col-sm-offset-2 col-sm-4">
			    <button type="submit" class="btn btn-primary">Submit</button>
			  </div>
			</div>
		</form>
	</div>
	
	{% endif %}
	{% endif %}

</div>

</body>
</html>